/* styles/HomePage.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬을 위해 추가 */
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
}

.bannerImage {
  max-width: 100%;
  height: auto;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬을 위해 추가 */
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: black;
}

/* 화면 크기에 따라 슬라이더의 최대 너비를 조정 */
@media (max-width: 1280px) {
  .slider {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .slider {
    max-width: 100%;
  }
}
