.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff; /* 흰색 배경 */
}

.container h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.table-container {
  width: 100%;
  background: #fff;
  border: 1px solid #ddd; /* 연한 회색 테두리 */
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 10px; /* 둥근 모서리 */
  overflow-x: auto; /* 가로 스크롤이 필요할 때 자동으로 스크롤바 표시 */
}

.table {
  width: 100%;
  border-collapse: collapse; /* 테이블 셀 간의 간격 제거 */
}

.table th,
.table td {
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* 연한 회색 선 */
}

.table th {
  background-color: rgba(245, 245, 245, 0.6);
  color: #333; /* 진한 회색 글자색 */
  width: 20%;
  font-weight: bold;
}

.table td {
  color: #555; /* 회색 글자색 */
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  .table-container {
    padding: 20px;
  }

  .table th,
  .table td {
    font-size: 1em;
  }
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
